<div class="user-details">
  <h1>My Expertise</h1>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <div class="tech">
    <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill="#FF6F00" d="M8.55 12.04 12 14.16v-4.4L8.55 7.6v4.44zM15.45 12.04V7.6L12 9.76v4.4l3.45-2.12z"/>
    </svg>
    <h2>Data Science</h2>
    <svg
      viewBox="0 0 128 128"
      xmlns="https://blog.paperspace.com/content/images/size/w1050/2021/01/0_szgpfwmBY_CuZwP8-2.png">
    </svg>
    <p>I feel comfortable working on machine & deep learning projects.</p>
  </div>
  <div class="tech">
    <h2>Code</h2>   
    <p>Most of my work has been with Python, C# and Javascript frameworks.</p>
  </div>
  <div class="tech">
    <h2>Tools</h2>
    <p>Git, NPM, Linux, Docker, Kubernetes... You name it.</p>
  </div>
</div>
