<div class="user-details">
  <h1>My Expertise</h1>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <div class="tech">
    <h2>Data Science</h2>
    <p>I feel comfortable working on machine & deep learning projects.</p>
  </div>
  <div class="tech">
    <h2>Code</h2>   
    <p>Most of my work has been with Python, C# and Javascript frameworks.</p>
  </div>
  <div class="tech">
    <h2>Tools</h2>
    <p>Git, Docker, Kubernetes... You name it.</p>
  </div>
  <div class="tech">
    <h2>Databases</h2>
    <p>SQL, NewSql, NoSQL ? No problem.</p>
  </div>
</div>
